.brand-logo {
    
   
    padding-left: 3%;
    margin-left: 3%

    }

#content {
     
    padding-left: 3%;
    margin-left: 3%;
    width: 80%
    
        }

.card-stacked {
     
padding-bottom: 3%;
line-height: 2;
margin-bottom: 6%;
            
}

.pgfooter {
    padding-left: 1.5%;
    margin-left: 1.5%  
}

.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: left;
} 

 